@import "../app-localstyle";

.top-bar-container {
    font-size: 20px;
    color: $font-color-header;
    font-weight: 600;

    @media (max-width: $max-width-large-laptop) {
        font-size: 18px;
    }
}

canvas {
    box-sizing: border-box;
    width: 100%;
    padding-top: 25px;
    height: 100%;
    @media (max-width: $max-width-large-laptop) {
    }
}
