$bg: #fafbfc;
$color-purple: #5d5fef;
$color-white: #ffffff;
$font-color-title: #151d48;
$font-color-header: #05004e;
$font-color-grey-light: #737791;
$font-family: Poppins;
$font-size-md: 20px;
$color-blue-grey: #737791;
$color-shadow-sidebar: rgba(55, 69, 87, 0.1);
$border-color: #f8f9fa;
$box-shadow-container: 0px 4px 20px rgba(238, 238, 238, 0.502);
$min-width-laptop: 992px;
$max-width-large-laptop: 1500px;
