@import "../app-localstyle";

.row {
    display: flex;
}
.app-sidebar {
    float: left;
}
.container {
    display: flex;
    flex-direction: column;
    width: 100%;

    .app-navbar {
        float: left;
        top: 0;
        width: 100%;
    }
}
