<app-box-container>
    <div class="top-bar-container">Volume vs Service Level</div>
    <div class="content-container">
        <canvas id="LevelBarChart"></canvas>
        <div class="line-container"></div>
        <div class="label-container">
            <div class="left-container">
                <div class="icon-style left-icon"></div>
                <div class="label-style">
                    <div class="title-style">Volume</div>
                    <div class="sub-style">1,135</div>
                </div>
            </div>
            <div class="line-break"></div>
            <div class="right-container">
                <div class="icon-style right-icon"></div>
                <div class="label-style">
                    <div class="title-style">Service</div>
                    <div class="sub-style">635</div>
                </div>

            </div>
        </div>
    </div>
</app-box-container>