<app-box-container>
    <div class="top-bar-container">Customer Satisfaction</div>
    <div class="content-container">
        <canvas id="CustomerLineChart"></canvas>
        <div class="line-container"></div>
        <div class="summary-container">
            <div class="left-container">
                <div class="icon-container">
                    <div class="line-icon left-line-icon"></div>
                    <div class="circle-icon left-circle-icon"></div>
                </div>
                <div class="label-container">
                    <div class="title-style">Last Month</div>
                    <div class="text-style">$3,004</div>
                </div>

            </div>
            <div class="line-break"></div>
            <div class="right-container">
                <div class="icon-container">
                    <div class="line-icon right-line-icon"></div>
                    <div class="circle-icon right-circle-icon"></div>
                </div>
                <div class="label-container">
                    <div class="title-style">This Month</div>
                    <div class="text-style">$4,504</div>
                </div>


            </div>
        </div>

    </div>


</app-box-container>