<app-box-container>
    <div class="top-bar-container">Target vs Reality</div>
    <div class="content-container">
        <div class="chart-container"><canvas id="CompareBarChart"></canvas></div>
        <div class="label-container">
            <div class="label-style reality-sales-container">
                <div class="left-container">
                    <div class="icon-container reality-icon-container">
                        <mat-icon class="material-icons-outlined icon-style reality-icon-style"
                            fontIcon="local_mall"></mat-icon>
                    </div>
                    <div class="text-container">
                        <div class="title-style">Reality Sales</div>
                        <div class="sub-style">Global</div>
                    </div>
                </div>
                <div class="right-container reality-text-style">8.823</div>
            </div>
            <div class="label-style  target-sales-container">
                <div class="left-container">
                    <div class="icon-container target-icon-container">
                        <mat-icon class="material-icons-outlined icon-style target-icon-style"
                            fontIcon="local_activity"></mat-icon>
                    </div>
                    <div class="text-container">
                        <div class="title-style">Reality Sales</div>
                        <div class="sub-style">Global</div>
                    </div>
                </div>
                <div class="right-container target-text-style">12.122</div>
            </div>
        </div>

    </div>
</app-box-container>